body {
    background-image: url("https://www.enjpg.com/img/2020/mountain-12.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    
   }
  
      .rubrik {
      font-size: 5rem;
      color:whitesmoke;
      margin-top: -20rem;
     

      }
      .timer {
          min-height: 100vh;
          display:flex; 
          align-items: center;
          flex-direction: column;
          justify-content: center;
          color:whitesmoke;
      }

      .countdown {
          display: flex;
          justify-content:space-around;
          text-align: center;
      }
   
    h2 {
        font-size: 1rem;
        

    }
    .day,.hour,.minute,.second {
        font-size: 5rem;
        margin:auto;
    }
    .dark-mode {
        color:whitesmoke;
        background-image: url("https://cdn.pling.com/img/5/a/b/1/0f8d724820d6f573a4b017a7dc7a887139a7.jpg");
    }
    #button1 {
        background-color:grey;
        color: white;
        font-size: 10px;
        border-radius: 12px;
        margin-top:1%;

    }

    .vertical-menu a {
        color:whitesmoke; 
        display:block;
        padding: 12px;
        text-decoration: none;
        margin-bottom: 4%;
    }
    .vertical-menu a:hover {
        background-color:whitesmoke;
    }
    .Social-media {
        margin: 50px 0;
        padding: 20px 0;
        text-align: center;
         text-decoration: none;
         justify-content: center;
         color:whitesmoke; 
      }
    .social li {
        display: inline-block;
        margin: 0 5px;
      }

    .Social-media p {
        color:whitesmoke; 
        text-align: center;
        
      }
      a {
          font-weight: bold;
          text-decoration: none;
          color:whitesmoke;
      }
    

    .right-column p{
        position:absolute;
        color:whitesmoke; 
        font: size 20px;
        right: 4%;
        top: 60%;
        }
    
        #icon{
        size: 5px;
        width: 50px;
        height: auto;
        position: absolute;
        right: 0%;
        display: block;
        top: 60%; 
        }
    

        
    